
body {
    margin: 0;
    padding: 0;
}

#app {
    height: calc( 100vh );
}

#header {
    margin:0;
    height:30px;
}
#content {
    height: calc( 100vh - 30px );
    overflow: auto;
}
.editor-panel {
    overflow: scroll;
}
.right-panel {
    overflow: scroll;
}


.state-graph {
    width: 600px;
    height: 400px;
    border: 1px solid lightgray;
}