.metadata-display {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-top: 16px;
    box-sizing: border-box;
}

.metadata-display > h3 {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
    color:#d2d2d2;
}

.metadata-display > div {
    display: flex;
    align-items: center;
}

.metadata-display > div > span {
    font-size: 12px;
    color: #666;
}

.metadata-display > div > pre {
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-all;
}

.metadata-display > h3 + div {
    margin-top: 8px;
}